:root {
    --clr-primary-background: hsl(172, 67%, 45%);
    /* strong cyan */
    --clr-scheme-1: hsl(183, 100%, 15%);
    /* very dark cyan */
    --clr-scheme-2: hsl(186, 14%, 43%);
    /* dark grayish cyan */
    --clr-scheme-3: hsl(184, 14%, 56%);
    /* grayish cyan */
    --clr-scheme-4: hsl(185, 41%, 84%);
    /* light grayish cyan */
    --clr-scheme-5: hsl(189, 41%, 97%);
    /* very light grayish cyan */
    --clr-scheme-6: hsl(0, 0%, 100%);
    /* white */

    /* font size - form inputs*/
    --ff-size: 24px;

    /* font weights */
    --ff-weight: 700;

    /* font families */
    --ff-primary: 'Space Mono', sans-serif;

    --spacing: 0.35rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}


* {
    background: var(--clr-scheme-4);
    font-family: var(--ff-primary);
}

/* @media screen and (min-width: 350px) - possibly 240px */
@media screen and (min-width: 240px) {

    .container {
        display: grid;
        margin-top: 20px;
    }

    .split {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: var(--clr-scheme-1);
        font-size: medium;
        letter-spacing: var(--spacing);
    }

    .calculator {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        height: 100%;
        background-color: var(--clr-scheme-6);
        border-radius: 15px 15px 0px 0px;
    }



    /* 1st half of the calculator - Calculation Section */

    p:not(.tips p) {
        margin-bottom: 2px;
    }

    .input-section,
    p,
    .input1,
    .input2,
    .tips,
    .tipAmounts {
        background-color: var(--clr-scheme-6);
    }

    .input-section {
        margin: 0px 0px 25px 35px;
        width: 100%;
        border-top-right-radius: 20px;
    }

    .input1,
    .input2,
    .custom {
        border-width: 0px;
        border-radius: 5px;
        background-color: var(--clr-scheme-5);
    }

    .input1,
    .input2 {
        padding-right: 15px;
        width: 85%;
        height: 10%;
        text-align: right;
        font-size: 24px;
        color: var(--clr-scheme-1);
    }

    .input2 {
        margin-bottom: 10px;
    }

    input[type=text]:hover,
    input[type=text]:focus-visible {
        border: 2px solid var(--clr-primary-background);
        cursor: pointer;
    }

    img {
        background-color: hsla(0, 0%, 100%, 0.03);
        position: absolute;
        margin-top: 10px;
        margin-left: 15px;
    }

    .tips {
        margin: 15px 0px 15px 0px;
    }

    .tipAmounts {
        width: 90%;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    input[type=button] {
        width: 45%;
        height: 35px;
        margin-bottom: 10px;
        color: var(--clr-scheme-6);
        background-color: var(--clr-scheme-1);
        border-color: var(--clr-scheme-1);
        border-radius: 5px;
        border-width: 0px;
    }

    input[type=button]:hover {
        cursor: pointer;
        color: var(--clr-scheme-1);
        background-color: var(--clr-primary-background);
    }

    .custom {
        width: 43%;
        height: 35px;
        font-size: 20px;
        color: var(--clr-scheme-2);
        text-align: center;
    }

    .custom:focus-visible {
        padding-right: 5px;
        text-align: right;
    }



    /* 2nd half of the calculator - Results Section */

    .results {
        width: 83%;
        height: 35%;
        margin-bottom: 35px;
        border-radius: 15px;
    }

    .results,
    .tipDesc,
    .amountDesc,
    .results .tipDesc span,
    .results .amountDesc span {
        background-color: var(--clr-scheme-1);
    }

    .tipDesc,
    .amountDesc {
        display: flex;
    }

    .tipDesc,
    .amountDesc {
        margin: 20px 30px 15px 30px;
    }

    .results .tipDesc .td,
    .results .amountDesc .ad {
        font-size: small;
    }

    .results .tipDesc span:not(.tipVal),
    .results .amountDesc span:not(.amountVal) {
        color: var(--clr-scheme-6);
    }

    .results .tipDesc .single,
    .results .amountDesc .single {
        font-size: x-small;
        color: hsl(184, 14%, 56%) !important;
        position: absolute;
        margin-top: 25px;
    }

    .results .tipDesc .tipVal,
    .results .amountDesc .amountVal {
        margin-left: auto;
        color: var(--clr-primary-background);
        font-size: 25px;
        font-weight: var(--ff-weight);
        letter-spacing: 0.1rem;
    }

    input[type=reset] {
        width: 80%;
        height: 17%;
        color: var(--clr-scheme-1);
        background-color: var(--clr-primary-background);
        border-radius: 5px;
        border-width: 0px;
        margin: 7% 0px 0px 10%;
        font-size: large;
        text-transform: uppercase;
    }

    input[type=reset]:hover {
        background-color: var(--clr-scheme-4);
        border-color: hsla(172, 67%, 45%, 0.3);
        cursor: pointer;
    }
}




@media screen and (min-width: 700px) {

    .container {
        margin-top: 70px;
    }

    .split {
        font-size: large;
    }

    .calculator {
        flex-wrap: nowrap;
        height: 65vh;
    }



    /* 1st half of the calculator - Calculation Section */

    p:not(.tips p) {
        margin-bottom: 5px;
    }

    .input-section {
        margin: 25px 0px 25px 30px;
        width: 50%;
        border-top-right-radius: 0px;
    }

    .input1,
    .input2 {
        width: 80%;
    }

    .tips {
        margin: 20px 0px 20px 0px;
    }

    .tipAmounts {
        width: 85%;
    }



    /* 2nd half of the calculator - Results Section */

    .results {
        margin: 25px 25px 50px 0px;
        width: 55%;
        height: 88%;
    }

    .tipDesc,
    .amountDesc {
        margin: 50px 30px 15px 30px;
    }

    .results .tipDesc .td,
    .results .amountDesc .ad {
        font-size: medium;
    }

    .results .tipDesc .single,
    .results .amountDesc .single {
        font-size: small;
    }

    .results .tipDesc .tipVal,
    .results .amountDesc .amountVal {
        font-size: xx-large;
    }

    input[type=reset] {
        margin-top: 100px;
        height: 13%;
    }
}





/* large screens */
@media screen and (min-width: 900px) {

    .calculator {
        margin: auto;
        margin-top: 50px;
        width: 60%;
        height: 65vh;
        border-radius: 15px;
    }

    p:not(.tips p) {
        margin-top: 5px;
    }

    .custom {
        width: 42%;
        height: 33px;
    }

    .amountDesc {
        margin-top: 50px;
    }

    .tipDesc {
        margin-top: 30px;
    }

    .tipDesc,
    .amountDesc {
        font-size: small;
    }

    .results .tipDesc .tipVal,
    .results .amountDesc .amountVal {
        font-size: large;
    }

    input[type=reset] {
        margin-top: 150px;
    }
}




@media screen and (min-width: 992px) {

    .calculator {
        height: 60vh;
    }

    input[type=button] {
        width: 30%;
    }

    .custom {
        width: 28%;
        font-size: initial;
    }

    .results {
        height: 83%;
    }

    .tipDesc,
    .amountDesc {
        font-size: medium;
    }

    .results .tipDesc .tipVal,
    .results .amountDesc .amountVal {
        font-size: 20px;
    }

    input[type=reset] {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1100px) {

    .results {
        height: 85%;
    }

    .amountDesc {
        margin-top: 30px;
    }

    .results .tipDesc .td,
    .results .amountDesc .ad {
        font-size: large;
    }

    .results .tipDesc .single,
    .results .amountDesc .single {
        font-size: small;
    }

    .results .tipDesc .tipVal,
    .results .amountDesc .amountVal {
        font-size: 30px;
    }
}